@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.menubarContainer {
    background-color: white;
    position:absolute;
    margin:0rem;
    font-size:1rem;
    height:4rem;
    border-style:solid;
    border-width: 0 0 2px 0;
    border-color:black;
    width:100%;
    transition: top 0.3s ease;
    z-index:2;
    font:'Inter'
}

.menubar {
    display:flex;
    list-style: none;
    margin:0rem;
}

.menubar > li {
    margin-top:1rem;
    margin-left:2rem;
    margin-bottom: 0rem;
    width:fit-content;
}

.paletteContainer {
    display:flex;
    margin:0;
    padding:0;
    margin-left:auto;
}

.curPalette {
    margin-right:1rem;

    font-size:1.25rem;
}

.color {
    list-style:none;
    width:30px;
    height:30px;
    margin:0; 
    border-style:solid;
    border-width:1px;
    border-color:black;
}

.changeModeForm {
    width:13rem;
}

.menubarSubtitle {
    margin:0;
    font-weight: normal !important;
    text-align: center;
}

.menubarInfo {
    margin:0;
    font-weight: normal !important;
    text-align: center;
}

.menubarSubtitleContainer {
    margin-left:auto;
    margin-right:2rem;
    justify-content:center;
}